

.screen-border {
    padding: 1.5rem;
    padding-block-end: 2.75rem;
    border-radius: .5rem;
    background-color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2rem 100%, 0 calc(100% - 2.75rem));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.screen-safeArea {
    padding: 1rem;
    background-color: #8DB9DC;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 10rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.border-button-space {
    inline-size: inherit;
    block-size: inherit;
}

.border-button {
    inline-size: 2rem;
    block-size: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
}